[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "omz-custom/zsh-autosuggestions"]
	path = omz-custom/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
