[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "omz-custom/zsh-autosuggestions"]
	path = omz-custom/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "omz-custom/plugins/zsh-autosuggestions"]
	path = omz-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
